<div class="container-fluid">

    <whats-loader *ngIf="loading$ | async; else notLoading"></whats-loader>

    <ng-template #notLoading>
        <ng-container *ngIf="!(error$ | async)">
            <h1>{{ (details$ | async).city.name }}, {{ (details$ | async).city.country }}</h1>

            <div class="card current-card">
                <whats-detailed-weather [weather]="(details$ | async).current"></whats-detailed-weather>
            </div>

            <whats-daily-weather *ngFor="let daily of (details$ | async).daily" [dailyWeather]="daily"
                [timeZone]="(details$ | async).city.timeZone"></whats-daily-weather>
        </ng-container>

        <div *ngIf="error$ | async">Erro</div>
    </ng-template>

</div>